<p >
    <mat-form-field  appearance="fill" class=" d-flex align-items-center justify-content-center mt-4" style="margin-left: 30%; margin-right:30% ;">
      <mat-label class="text-white">Find the Pizza</mat-label>
      <input matInput style="color: rgb(255, 205, 214); " placeholder="Pizza" type="text" [(ngModel)]="pizzaWord">
      <button class="btn btn-outline-success " mat-button matSuffix aria-hidden="false" (click)="onsearch()"><mat-icon matSuffix>search</mat-icon></button>
      
    </mat-form-field>
  </p>
